<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Type</th>
      <th>Bank</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i < payment.length; i++){ %>
    <tr>
      <td><%- i + 1 %></td>
      <td><%- payment[i].type %></td>
      <td>
        <% payment[i].banks.map((v,i) => { %>
        <span class="badge badge-warning"
          ><%- v.name %> <%- v.nameBank %> <%- v.noRekening %></span
        >
        <% }) %>
      </td>
      <td>
        <form
          action="/payment/delete/<%- payment[i]._id %>?_method=DELETE"
          method="post"
        >
          <a href="/payment/edit/<%- payment[i]._id %>" class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i> Ubah</a
          >
          <button class="btn btn-danger" type="submit">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
